<% content_for :page_title do %>
  <%= Spree.t(:makes) %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:new_make), new_object_url, class: "btn-success", icon: 'add', id: 'admin_new_role_link' %>
  <%= button_link_to Spree.t(:edit_models), admin_models_path, { :class => "btn-success", :icon => 'pencil', 'data-update' => 'edit_model', :id => 'edit_model_link' } %>
  <%= button_link_to Spree.t(:edit_applications), admin_applications_path, { :class => "btn-success", :icon => 'pencil', 'data-update' => 'edit_application', :id => 'edit_application_link' } %>
<% end if can? :create, Spree::Make %>

<% content_for :table_filter do %>
  <div data-hook="admin_property_sidebar">
    <%= search_form_for [:admin, @search] do |f| %>

      <%- locals = {:f => f} %>
      <div class="row">
        <div class="col col-md-12">
          <div data-hook="admin_property_index_search" class="form-group">
            <%= f.label :name_cont, Spree.t(:name) %>
            <%= f.text_field :name_cont, :class => "form-control js-quick-search-target" %>
          </div>
        </div>
      </div>

      <div class="form-actions" data-hook="admin_applications_index_search_buttons">
        <%= button Spree.t(:search), 'search' %>
      </div>
      
    <% end %>
  </div>
<% end %>

<% if @makes.any? %>
  <table class="table" id='listing_properties' data-hook>
    <thead>
      <tr data-hook="listing_properties_header">
        <th><%= Spree.t(:make) %></th>
        <th><%= Spree.t(:abbreviation) %></th>
        <th class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @makes.each do |make|%>
        <tr id="<%= spree_dom_id make %>" data-hook="listing_applications_row">
          <td><%= make.name %></td>
          <td><%= make.abbreviation %></td>
          <td class="actions text-right">
            <%= link_to_edit(make, no_text: true) if can? :edit, make %>
            <%= link_to_delete(make, no_text: true) if can? :destroy, make %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-warning">
    <%= Spree.t(:no_resource_found, resource: plural_resource_name(Spree::Make)) %>,
    <%= link_to(Spree.t(:add_one), new_object_url) if can? :create, Spree::Make %>!
  </div>
<% end %>

<%= paginate @collection %>