<div class="header-container" id="secondNav" data-hook>
  <script type="text/javascript">
    $('#secondNav').removeClass("affix");
  </script>
  <div class="container">
    <div class="row">
      <div class="col-xs-0 col-sm-4 col-md-0 col-lg-0" id="sm-logo">
          <a href="/">JC Auto Restoration</a>
      </div>
      <%= render :partial => 'spree/shared/nav_bar' %>
      <div class="col-xs-12 col-sm-4 col-md-5" id="top-nav-bar">
        <ul id="nav-bar" class="nav navbar-nav navbar-right" data-hook>
          <li>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              Account <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <% if spree_current_user %>
                <% if spree_current_user && (spree_current_user.has_spree_role? "admin") %>
                  <li><%= link_to "Admin Dashboard", admin_path %></li>
                <% end %>
                <li><%= link_to Spree.t(:my_account), spree.account_path %></li>
                <li><%= link_to Spree.t(:my_cars), "/my-cars" %></li>
                <li><%= link_to Spree.t(:logout), spree.logout_path %></li>
                <li><%= link_to "Wishlists", spree.wishlists_path %></li>
              <% else %>
                <li id="link-to-login"><%= link_to Spree.t(:login), spree.login_path %></li>
              <% end %>
            </ul>
          </li>
          <li id="link-to-cart" data-hook>
            <noscript>
              <%= link_to Spree.t(:cart), '/cart' %>
            </noscript>
            &nbsp;
          </li>
          <script>
            try {
              Spree.fetch_cart()
            } catch (ReferenceError) {
              $("#link-to-cart").html('<%= link_to Spree.t(:cart), spree.cart_path %>');
            }
          </script>
        </ul>
      </div>
    </div><!-- End Row -->
  </div><!-- End Affix -->
</div><!-- End Header -->

<div id="header-logo-collapse" style="width: 250px" data-hook>
  <%= link_to("/") do %>
    <%= image_tag "Logo-new.png", height: '200', width: '250' %>
  <% end %>
</div>

<nav class="navbar navbar-default" id="nav">
  <!-- Navbar toggle controls -->
  <div class="navbar-header">
      <a id="brand" class="navbar-brand collapse" href="/">JC Auto Restoration</a>
      <button type="button" class="btn btn-primary navbar-toggle collapsed" style="height: 30px; padding: 0 0 10 0" data-toggle="collapse" data-target="#primary-nav" aria-expanded="false" id="primaryToggleButton"><span class="glyphicon glyphicon-menu-hamburger"></span> Menu
      </button>
  </div>
  <div class="collapse navbar-collapse container" id="primary-nav">
    <div id="main-nav-bar" class="container">
        <!-- Not displayed when width > $screen-md-min -->
        <div id="collapseSearch">
          <%= render :partial => 'spree/shared/nav_bar' %>
        </div>
      <ul class="nav navbar-nav navbar-left" data-hook>
        <span id = "collapseAccount">
          <% if spree_current_user %>
            <% if spree_current_user && (spree_current_user.has_spree_role? "admin") %>
              <li><%= link_to "Admin Dashboard", admin_path %></li>
            <% end %>
            <li><%= link_to Spree.t(:my_account), spree.account_path %></li>
            <li><%= link_to Spree.t(:my_cars), "/my-cars" %></li>
            <li><%= link_to Spree.t(:logout), spree.logout_path %></li>
            <li><%= link_to "Wishlists", spree.wishlists_path %></li>
          <% else %>
            <li id="link-to-login"><%= link_to Spree.t(:login), spree.login_path %></li>
          <% end %>
          <li id="link-to-cart" data-hook>
              <!-- <noscript> -->
                <%= link_to Spree.t(:cart), '/store/cart' %>
              <!-- </noscript>
              &nbsp; -->
            </li>
            <!-- <script>Spree.fetch_cart()</script> -->
        </span>
        <li id="home-link" class="<%= @page === 'parts' ? 'current-page' : 'non-current-page' %>" data-hook><%= link_to "Parts", "/parts" %></li>
        <li id="home-link" class="<%= @page === 'services' ? 'current-page' : 'non-current-page' %>" data-hook><%= link_to "Services", "/our-services" %></li>
        <li id="home-link" class="<%= @page === 'about' ? 'current-page' : 'non-current-page' %>" data-hook><%= link_to "About Us", "/about" %></li>
        <li id="home-link" class="<%= @page === 'gallery' ? 'current-page' : 'non-current-page' %>" data-hook><%= link_to "Gallery", "/gallery" %></li>
      </ul>

      <div id="header-logo-affix">
        <a href="/">JC Auto Restoration</a>
      </div>
      <div id="header-logo" data-hook>
        <%= link_to("/") do %>
          <%= image_tag "Logo-new.png", style: "width: 100%" %>
        <% end %>
      </div>

      <ul class="nav navbar-nav navbar-right">

        <li id="home-link" class="<%= @page === 'community' ? 'current-page' : 'non-current-page' %>" data-hook><%= link_to "Community", "/community" %></li>

        <li id="home-link" class="<%= @page === 'sale-cars' ? 'current-page' : 'non-current-page' %>" data-hook><%= link_to "Cars for Sale", "/sale-cars" %></li>

        <li id="home-link" class="<%= @page === 'contact' ? 'current-page' : 'non-current-page' %>" data-hook><%= link_to "Contact Us", "/contact" %></li>
      </ul>

      <ul class="nav navbar-nav navbar-right" id="collapseAccount">
        
      </ul>
    </div><!-- Main Nav Bar -->
    <!-- <%= render :partial => 'spree/shared/main_nav_bar' if store_menu? %> -->
  </div><!-- primary-nav -->
</nav>

<% if @page === 'home' %>
  <div class="header-img">
      <div class="center" id="about-overlay">
        <%= image_tag "Logo-new.png", style: "width: auto; max-width: 90%; height: auto; max-height: 75vh;" %>
        <p style="font-weight: 600; margin-top: 20px">Your shop for MoPar restoration services and thousands of NOS parts.</p>
        <%= link_to "Find Parts", "/parts", class: "btn btn-info", style: "margin-bottom: 10px" %><div class="clearfix"></div>
        <%= link_to "Browse Services", "/our-services", class: "btn btn-info" %>
        <!-- 
        <h1 class="inverse" style="font-size: 2em; text-align: center; line-height: 1.0em;">Serving the</h1>
        <h4 class="inverse" style="font-size: 3em; text-align: center; line-height: 1em; margin-top: -10px;">MoPar Community</h4>
        <h1 class="inverse" style="font-size: 4em; text-align: center; line-height: 1em; margin-bottom: -10px">Since</h1>
        <h4 class="inverse" style="font-size: 6em; text-align: center; line-height: 1em">1978</h4>
        -->
      </div>
      <%= image_tag "Header Image.png", style: "width: 100%; visibility: hidden;" %>
  </div>
<% else %>
  <div class="header-img" id="other">
      <%= image_tag "Header Image.png", style: "width: 100%; visibility: hidden;" %>
  </div>
<% end %>
