<div class="header-container" data-spy="affix" data-offset-top="10" id="secondNav" data-hook>
  <div class="container">
    <div class="container">
      <div class="row">
        <%= render :partial => 'spree/shared/nav_bar' %>
        <div class="col-xs-12 col-md-7" id="top-nav-bar">
          <ul id="nav-bar" class="nav navbar-nav navbar-right" data-hook>
            <% if spree_current_user %>
              <li><%= link_to Spree.t(:my_account), spree.account_path %></li>
              <li><%= link_to Spree.t(:logout), spree.logout_path %></li>
              <li><%= link_to "Wishlist", spree.new_wishlist_path %></li>
            <% else %>
              <li id="link-to-login"><%= link_to Spree.t(:login), spree.login_path %></li>
              <li><%= link_to "Wishlist", spree.new_wishlist_path %></li>
            <% end %>
            <li id="link-to-cart" data-hook>
              <noscript>
                <%= link_to Spree.t(:cart), '/cart' %>
              </noscript>
              &nbsp;
            </li>
            <script>Spree.fetch_cart()</script>
          </ul>
        </div>
      </div><!-- End Row -->
    </div><!-- End Container -->
  </div><!-- End Affix -->
</div><!-- End Header -->

<div id="header-logo-collapse" style="width: 250px" data-hook>
  <%= link_to("/") do %>
    <%= image_tag "Logo-new.png", height: '200', width: '250' %>
  <% end %>
</div>

<nav class="navbar navbar-default" data-spy="affix" data-offset-top="10" id="nav">
  <div class="navbar-header">
      <a id="brand" class="navbar-brand collapse" href="/">JC AUTO <span style="font-family: 'Cookie'; font-size: 1.3em">Restoration</span></a>
      <button type="button" class="btn btn-primary navbar-toggle collapsed" style="height: 30px; padding: 0 0 10 0" data-toggle="collapse" data-target="#primary-nav" aria-expanded="false" id="primaryToggleButton">Menu
        <!--span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span-->
      </button>
  </div>
  <div class="collapse navbar-collapse container" id="primary-nav">
    <div id="main-nav-bar" class="container">
      <ul class="nav navbar-nav navbar-left" data-hook>
        <li id="home-link" data-hook><%= link_to "About Us", "/" %></li>
        <li id="home-link" data-hook><%= link_to "Gallery", "/" %></li>
        <li id="home-link" data-hook><%= link_to "Parts", spree.products_path %></li>
        <li id="home-link" data-hook><%= link_to "Services", spree.products_path %></li>
      </ul>

      <div id="header-logo" style="width: 250px" data-hook>
        <%= link_to("/") do %>
          <%= image_tag "Logo-new.png", height: '200', width: '250' %>
        <% end %>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li id="home-link" data-hook><%= link_to "Community", spree.products_path %></li>
        <li id="home-link" data-hook><%= link_to "Cars for Sale", spree.products_path %></li>
        <li id="home-link" data-hook><%= link_to "Contact Us", spree.products_path %></li>
      </ul>

      <div id="collapseSearch" style="width: 300px">
        <%= render :partial => 'spree/shared/nav_bar' %>
      </div>
    </div>

    <!-- <%= render :partial => 'spree/shared/main_nav_bar' if store_menu? %> -->
  </div>
</nav>

<div class="header-img">
    <div class="center" id="about-overlay">
      <h4 class="inverse" style="font-size: 2em; text-align: center; line-height: 1.0em;">Serving the</h4>
      <h3 class="inverse" style="font-size: 2em; text-align: center; line-height: 1em; margin-top: -10px;">MoPar Community Since</h3>
      <h4 class="inverse" style="font-size: 8em; text-align: center; line-height: 1em">&#8212;1978&#8212;</h4>
    </div>
    <%= image_tag "Header Image.png", style: "width: 100%; visibility: hidden;" %>
</div>
