<div class="header-container" data-spy="affix" data-offset-top="10" id="secondNav" data-hook>
  <div class="container">
    <div class="container">
      <div class="row">
        <%= render :partial => 'spree/shared/nav_bar' %>
        <div class="col-md-7" id="top-nav-bar">
          <ul id="nav-bar" class="nav navbar-nav navbar-right" data-hook>
            <% if spree_current_user %>
              <li><%= link_to Spree.t(:my_account), spree.account_path %></li>
              <li><%= link_to Spree.t(:logout), spree.logout_path %></li>
              <li><%= link_to "Wishlist", spree.new_wishlist_path %></li>
            <% else %>
              <li id="link-to-login"><%= link_to Spree.t(:login), spree.login_path %></li>
              <li><%= link_to "Wishlist", spree.new_wishlist_path %></li>
            <% end %>
            <li id="link-to-cart" data-hook>
              <noscript>
                <%= link_to Spree.t(:cart), '/cart' %>
              </noscript>
              &nbsp;
            </li>
            <script>Spree.fetch_cart()</script>
          </ul>
        </div>
      </div><!-- End Row -->
    </div><!-- End Container -->
  </div><!-- End Affix -->
</div><!-- End Header -->

<nav class="navbar navbar-default" data-spy="affix" data-offset-top="10" id="nav">
  <div class="container">
    <div id="main-nav-bar" class="container">
      <ul class="nav navbar-nav navbar-left" data-hook>
        <li id="home-link" data-hook><%= link_to "About Us", "/" %></li>
        <li id="home-link" data-hook><%= link_to "Gallery", "/" %></li>
        <li id="home-link" data-hook><%= link_to "Parts", spree.products_path %></li>
        <li id="home-link" data-hook><%= link_to "Services", spree.products_path %></li>
      </ul>

      <div id="header-logo" style="width: 250px" data-hook>
        <%= link_to("/") do %>
          <%= image_tag "Logo-new.png", height: '200', width: '250' %>
        <% end %>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li id="home-link" data-hook><%= link_to "Community", spree.products_path %></li>
        <li id="home-link" data-hook><%= link_to "Cars for Sale", spree.products_path %></li>
        <li id="home-link" data-hook><%= link_to "Contact Us", spree.products_path %></li>
      </ul>
    </div>

    <!-- <%= render :partial => 'spree/shared/main_nav_bar' if store_menu? %> -->
  </div>
</nav>

<div class="header-img">
  <%= image_tag "Header Image.png", style: "width: 100%; visibility: hidden;" %>
</div>