<nav class="navbar navbar-default">
  <div id="main-nav-bar" class="container-fluid" style="text-align: center">
    <ul class="nav navbar-nav" data-hook>
      <li id="home-link" data-hook><%= link_to "About Us", "/" %></li>
      <li id="home-link" data-hook><%= link_to "Gallery", "/" %></li>
      <li id="home-link" data-hook><%= link_to "Parts", spree.products_path %></li>
      <li id="home-link" data-hook><%= link_to "Services", spree.products_path %></li>
      <li id="home-link" data-hook><%= link_to "Community", spree.products_path %></li>
      <li id="home-link" data-hook><%= link_to "Cars for Sale", spree.products_path %></li>
      <li id="home-link" data-hook><%= link_to "Contact Us", spree.products_path %></li>
    </ul>
  </div>
</nav>
