<table>
  <tr>
    <%= image_tag attachments['Logo.png'].url, alt: '', style: "width: 35%" %>
  </tr>
  <tr>
    <td>
      <p class="lede">
        <% if @shipment.address.firstname && @shipment.address.firstname != "" %>
          <%= Spree.t('dear') + " " + @shipment.address.firstname %>,
        <% else %>
          <%= Spree.t('shipment_mailer.shipped_email.dear_customer') %>
        <% end %>
      </p>
      <p>
        <%= Spree.t('shipment_mailer.shipped_email.instructions') %>
      </p>
      <p>
        <strong><%= Spree.t('shipment_mailer.shipped_email.shipment_summary') %></strong>
      </p>
      <table>
        <% @shipment.manifest.each do |item| %>
          <tr>
            <td><%= item.variant.product.name %> <%= item.variant.options_text %></td>
          </tr>
        <% end %>
      </table>
      <p>
        <%= Spree.t('shipment_mailer.shipped_email.track_information', :tracking => @shipment.tracking)     if @shipment.tracking %>
      </p>
      <p>
        <%= Spree.t('shipment_mailer.shipped_email.track_link',        :url      => @shipment.tracking_url) if @shipment.tracking_url %>
      </p>
      <p>
        <%= Spree.t('shipment_mailer.shipped_email.thanks') %>
      </p>
    </td>
    <td class="expander"></td>
  </tr>
</table>
