<%= form_for :order, :url => populate_orders_path do |f| %>
  <div id="inside-product-cart-form" data-hook="inside_product_cart_form" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
    <% if @product.variants_and_option_values(current_currency).any? %>
      <div id="product-variants">
        <h3 class="product-section-title" style="margin-top: -8px">
          <%= Spree.t(:select_variant) %>
          <a href="" data-toggle="modal" data-target="#conditionModal" >
            <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
          </a>
        </h3>
        

          <% 
            options = []
            @product.variants_and_option_values(current_currency).each_with_index do |variant, index|
              price_in_currency = variant.price_in(current_currency) 
              data_core = price_in_currency.money_core
              data_price = price_in_currency.money
              data_total = price_in_currency.money_total

              notes = (variant_options variant) + ((variant.notes && variant.notes != "") ? " (" + variant.notes + ")" : "") + " (" + (variant_price variant) + ")" 

              unless variant.can_supply?
                notes += ' - ' + Spree.t(:out_of_stock)
              end

              options << [notes.html_safe, variant.id, { :id => 'variant_id_'+variant.id.to_s, 'data-core' => data_core, 'data-price' => data_price, 'data-total' => data_total }]
          %>
          
          <% end %>
          <%= select_tag :variant_id, options_for_select(options), class: "form-control" %>
      </div>
    <% else %>
      <%= hidden_field_tag "variant_id", @product.master.id %>
    <% end %>
    <% if @product.price_in(current_currency) and !@product.price.nil? %>
      <div data-hook="product_price">
        <div id="product-price">
          <h3 class="product-section-title"><%= Spree.t(:price) %></h3>
          <table id="product-price-table" class="table table-striped" data-hook>
            <tbody>
              <% css_class = cycle('even', 'odd', :name => "prices_table") %>
              <% core_price_present = false %>
              <% 
                if @product.core_price > 0
                  core_price_present = true
                else
                  @product.variants.each do |variant|
                    if variant.core_price > 0 
                      core_price_present = true
                      break
                    end
                  end
                end
              %>
              <% if core_price_present %>
                <tr class="<%= css_class %>">
                  <td>
                    <strong><%= Spree.t(:core_charge) %></strong>
                  </td>
                  <td>
                    <span class="core selling" itemprop="price">
                      <%= display_core_price(@product) %>
                    </span>
                    <span itemprop="priceCurrency" content="<%= @product.currency %>"></span>
                  </td>
                </tr>
                <tr class="<%= css_class %>">
                  <td>
                    <strong><%= Spree.t(:price) %></strong>
                  </td>
                  <td>
                    <span class="price selling" itemprop="price">
                      <%= display_price(@product) %>
                    </span>
                    <span itemprop="priceCurrency" content="<%= @product.currency %>"></span>
                  </td>
                </tr>
              <% end %>
              <tr class="<%= css_class %>">
                <td>
                  <span class="lead"><strong>
                    <%= Spree.t(:total) %>
                  </strong></span>
                </td>
                <td>
                  <span class="lead total selling" itemprop="price">
                  <%= display_total_price(@product) %>
                  </span>
                  <span itemprop="priceCurrency" content="<%= @product.currency %>"></span>
                </td>
              </tr>
              <% reset_cycle('prices_table') %>
            </tbody>
          </table>
          <% if @product.master.can_supply? %>
            <link itemprop="availability" href="https://schema.org/InStock" />
          <% elsif @product.variants.empty? %>
            <br />
            <span class="out-of-stock"><%= Spree.t(:out_of_stock) %></span>
          <% end %>
        </div>

        <div class="add-to-cart">
          <div class="input-group">
            <%= number_field_tag :quantity, 1, :class => 'title form-control', :min => 1 %>
            <span class="input-group-btn">
              <%= button_tag :class => 'btn btn-success', :id => 'add-to-cart-button', :type => :submit do %>
                <%= Spree.t(:add_to_cart) %>
              <% end %>
            </span>
          </div>
        </div>
      </div>
    <% else %>
      <div id="product-price">
        <br>
        <div><span class="price selling" itemprop="price"><%= Spree.t('product_not_available_in_this_currency') %></span></div>
      </div>
    <% end %>
  </div>
<% end %>