<% unless @product_properties.empty? %>  
  <h3 class="product-section-title"><%= Spree.t('properties')%></h3>
  <table id="product-properties" class="table table-striped" data-hook>
    <tbody>
      <% @product_properties.each do |product_property| %>
        <% css_class = cycle('even', 'odd', :name => "properties") %>
        <tr class="<%= css_class %>">
          <td><strong><%= product_property.property.presentation %></strong></td>
          <td><%= product_property.value %></td>
        </tr>
      <% end %>
      <% reset_cycle('properties') %>
    </tbody>
  </table>
<% end %>

<% unless @product_applications.empty? %>  
  <h3 class="product-section-title">Applications</h3>
  <table id="product-properties" class="table table-striped" data-hook>
    <thead>
      <tr>
        <th>Years</th>
        <th>Make</th>
        <th>Model/Notes</th>
      </tr>
    </thead>
    <tbody>
        <% @product.product_applications.each do |product_application| %>
          <% css_class = cycle('even', 'odd', :name => "properties") %>
          <tr class="<%= css_class %>">
            <td><%= product_application.start_year.to_s + "-" + product_application.end_year.to_s %></td>
            <td><%= product_application.application && product_application.application.make ? product_application.application.make.name : "-" %></td>
            <% notes = product_application.notes === "" ? "-" : product_application.notes %>
            <td><%= product_application.application && product_application.application.model ? product_application.application.model.name + " " + notes : notes!="" ? notes : "-" %></td>
          </tr>
        <% end %>
      <% reset_cycle('properties') %>
    </tbody>
  </table>
<% end %>

<div>
  <%= render :partial => 'taxons' %>
</div>