<% @body_id = 'product-details' %>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel">Image for <%= @product.name %></h3>
      </div><!-- header -->
      <div class="modal-body">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <% @product.variant_images.length.times do |i| %>
              <li data-target="#carousel-example-generic" data-slide-to="<%=i%>" class="<%= (i) == 0 ? "active" : "" %>"></li>
            <% end %>
          </ol>
          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <% if @product.variant_images && !@product.variant_images.empty? %>
              <% (@product.variant_images).each_with_index do |image, index| %>
              <div class="item <%= (index) == 0 ? "active" : "" %>" >
                <%= image_tag(image.attachment.url(:large)) %>
                <div class="carousel-caption" style="color: $gray-dark">
                  <% variant = Spree::Variant.find(image.viewable_id) %>
                  <%= variant_options variant %>
                </div>
              </div>
              <% end %>
            <% else %>
              <div class="item active">
                <%= product_image(@product, :itemprop => "image") %>
                <div class="carousel-caption">
                </div>
              </div>
            <% end %>
          </div>

          <!-- Controls -->
          <% if @product.variant_images && @product.variant_images.length > 0 %>
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          <% end %>
        </div>
      </div><!-- Modal body -->
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div><!-- Modal footer -->
    </div><!-- Modal content -->
  </div><!-- Modal dialog -->
</div><!-- Modal fade -->

<% cache [I18n.locale, current_currency, @product, @product.possible_promotions] do %>
  <ol class="breadcrumb">
    <li><%= link_to products_path do %>All Products<% end %></li>
    <% @product.taxons.order("description asc").each do |taxon| %>
      <li><%= link_to taxon.name, seo_url(taxon) %></li>
    <% end %>
    <li class="active"><%= @product.name %></li>
  </ol>

  <div data-hook="product_show" itemscope itemtype="https://schema.org/Product">
    <div class="col-md-4" data-hook="product_left_part">
      <div data-hook="product_left_part_wrap">
        <div id="product-images" data-hook="product_images">
          <a href="" data-toggle="modal" data-target="#myModal">
            <div id="main-image" class="panel panel-default" data-hook>
              <div class="panel-body text-center" >
                <%= render :partial => 'image' %>
              </div>
            </div>
          </a>
          <div id="thumbnails" data-hook>
            <%= render :partial => 'thumbnails' %>
          </div>
        </div>

        <div data-hook="product_properties">
          <%= render :partial => 'properties' %>
        </div>

        <div data-hook="promotions">
          <%= render :partial => 'promotions' %>
        </div>
      </div>
    </div>

    <div class="col-md-8" data-hook="product_right_part">
      <div data-hook="product_right_part_wrap">
        <div id="product-description" data-hook="product_description">
          <h2 class="product-title" itemprop="name"><%= @product.name %></h2>

          <div class="well" itemprop="description" data-hook="description">
            <%= product_description(@product) rescue Spree.t(:product_has_no_description) %>
          </div>

          <div id="cart-form" data-hook="cart_form">
            <%= render :partial => 'cart_form' %>
          </div>
        </div>

      </div>
    </div>
  </div>
<% end %>
