<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<%= csrf_meta_tags %>

<title>
  <% if content_for? :title %>
    <%= yield :title %>
  <% else %>
    <%= "Spree #{Spree.t('administration')}: " %>
    <%= Spree.t(controller.controller_name, :default => controller.controller_name.titleize) %>
  <% end %>
</title>

<%= stylesheet_link_tag 'spree/backend/all' %>

<%= javascript_include_tag 'spree/backend/all' %>
<%= render "spree/admin/shared/translations" %>

<%= javascript_tag do %>
  <%== "var AUTH_TOKEN = #{form_authenticity_token.inspect};" %>
  <%== "Spree.api_key = '#{try_spree_current_user.spree_api_key}';" if try_spree_current_user %>
<% end %>

<link href='https://fonts.googleapis.com/css?family=Orbitron:400,500,700,900' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Sonsie+One' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

<%= yield :head %>
