<table>
  <tr>
    <td>
      <p class="lede">
        <% if @order.bill_address.firstname && @order.bill_address.firstname != "" %>
          <%= Spree.t('dear') + " " + @order.bill_address.firstname %>,
        <% else %>
          <%= Spree.t('order_mailer.cancel_email.dear_customer') %>
        <% end %>
      </p>
      <p>
        <%= Spree.t('order_mailer.cancel_email.instructions') %>
      </p>
      <p>
        <strong><%= Spree.t('order_mailer.cancel_email.order_summary_canceled') %></strong>
      </p>
      <table>
        <% @order.line_items.each do |item| %>
          <tr>
            <td><%= item.variant.sku %></td>
            <td>
              <%= raw(item.variant.product.name) %>
              <%= raw(item.variant.options_text) -%>
            </td>
            <td>(<%=item.quantity%>) <%= Spree.t('at_symbol') %> <%= item.single_money %> = <%= item.display_amount %></td>
          </tr>
        <% end %>
        <tr>
          <td></td>
          <td><%= Spree.t('order_mailer.cancel_email.subtotal') %></td>
          <td><%= @order.display_item_total %></td>
        </tr>
        <% @order.adjustments.eligible.each do |adjustment| %>
          <tr>
            <td></td>
            <td><%= raw(adjustment.label) %></td>
            <td><%= adjustment.display_amount %></td>
          </tr>
        <% end %>
        <tr>
          <td></td>
          <td><%= Spree.t('order_mailer.cancel_email.total') %></td>
          <td><%= @order.display_total %></td>
        </tr>
        <tr>
          <p>
            Jeff Carter<br>
            <a href="http://www.jcauto.com" target="_blank">JC Auto Restoration, Inc.</a><br>
            <%= image_tag attachments['Logo.png'].url, alt: '', style: "width: 35%" %>
          </p>
        </tr>
      </table>
    </td>
    <td class="expander"></td>
  </tr>
</table>
