<table class="table table-condensed table-bordered">
  <thead>
    <tr>
      <th>
        <%= check_box_tag 'select-all' %>
      </th>
      <th><%= Spree.t(:sku) %></th>
      <th><%= Spree.t(:quantity) %></th>
      <th><%= Spree.t(:location) %></th>
      <th><%= Spree.t(:sub_location) %></th>
    </tr>
  </thead>
  <tbody>
    <% return_items.each do |item| %>
      <% Spree::StockMovement.where(originator: item) do |movement| %>
        <tr>
          <td>
            <%= item.inventory_unit.variant.sku %>
          </td>
          <td>
            <%= movement.quantity %>
          </td>
          <td>
            <%= movement.stock_item.stock_location.name %>
          </td>
          <td>
            <%= movement.stock_item.sub_location %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>